<div class="content">
    <div class="sub-content">
        <button type="button" class="btn btn-outline-secondary position-absolute top-0 start-50 translate-middle-x " (click)="returnBack()">القيمة الرئسية</button>
        <h2  >
            التغذية</h2>
        <div class="question">
            <h3 style="font-family: title;">
                :
                <b style="border:2px solid rgb(251, 47, 200);padding: 0.5em ; margin:0 0.5em ; border-radius: 0.5em;">
                    ارتب
                </b>
                
                المراحل التي يمر بها الغذاء داخل الأنبوب الهضمي</h3>
            <img src="../../assets/icons/pencil.png" alt="idea">
        </div>
        
        
            
            <div cdkDropList  class="container" (cdkDropListDropped)="drop($event)">
            <div class="example-box">
                <mat-card  *ngFor="let item of items" cdkDrag>
                    <mat-card-content>
                        <img [src]="item[0]" alt="">
                        <h3>
                            {{item[1]}}
                        </h3>
                    </mat-card-content>
                </mat-card>
          </div>
          <button type="button" class="btn btn-primary confirm" (click)="setDialog()"  data-bs-toggle="modal" data-bs-target="#exampleModal" >تاكيد الجواب </button>
          
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title fs-5" id="exampleModalLabel">النتيجة</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="lottie-animation mt-10">
                        <ng-lottie
                          [options]="options" >
                        </ng-lottie>
                      </div>
                      <h2>
                        {{msg}}
                      </h2>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    أغلق
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
