<div class="content">
    <ul>
        <li (click)="navActivte1()" class="activite a1">النشاط 1</li>
        <li (click)="navActivte2()" class="activite a2">النشاط 2</li>
        <li (click)="navActivte3()" class="activite a3">النشاط 3</li>
        <li (click)="navActivte4()" class="activite a4">النشاط 4</li>
        <li (click)="navActivte5()" class="activite a5">النشاط 5</li>
        <li (click)="navActivte6()" class="activite a6">النشاط 6</li>
        <li (click)="navActivte7()" class="activite a7">النشاط 7</li>
        <li (click)="navActivte8()" class="activite a8">النشاط 8</li>
        <li (click)="navActivte9()" class="activite a9">النشاط 9</li>
    </ul>
</div>